<a href="https://colab.research.google.com/github/si-zerodarkthirty/dataScience/blob/master/leeds2003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Replication of Leeds(2003) "Do Alliances Deter Aggression? The Influence of Military Alliances on the Initiation of Militarized Interstate Disputes"

In order to test these arguments about the influence of outside allies on the probability that a potential challenger will initiate a militarized dispute against a particular target, I employ a dataset that includes all states in interactions with the states in their politically relevant international environments for each year from 1816 to 1944. The unit of analysis is the directed dyad year.

In [1]:
import pandas as pd

df = pd.read_table('/content/drive/My Drive/dataScience/LeedsAJPS03.tab')
df.head()

   dyad  year  dispute  jdem  ...    swtglo  ptargdef  pchaloff  pchalneu
0  2020  1920        0     1  ...  0.376846         0         0         0
1  2020  1921        0     1  ...  0.418034         0         0         0
2  2020  1922        0     1  ...  0.427329         0         0         0
3  2020  1923        0     1  ...  0.413453         0         0         0
4  2020  1924        0     1  ...  0.469707         0         0         0

[5 rows x 11 columns]

## Variables

### DV
__dispute:__ whether a potential challenger started MIDs against a potential target in each year.

### IV



### CV

__jdem:__ Joint democracy.

__capprop:__  Power of potential challenger in relation to potential target.

__atop__